*, body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(253, 241, 227);
}

.container{
    background-color: aliceblue;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    margin: auto;
    padding-top: 25px;
}

h2{
    text-align: center;
    border-bottom: double;
    margin-bottom: 30px;
    padding-bottom: 8px;
}

table{
    border-top: double;
    display: flex;
    padding-top: 8px;
}

th{
    text-align: left;
    vertical-align: top;
    padding-right: 15px;
}

input{
    padding: 2px;
}

textarea{
    padding: 2px;
}

input[type="radio"]{
    margin-right: 5px;
}

input[value="P"]{
    margin-left: 8px;
}

button{
    font-weight: bold;
    text-align: center;
    padding: 5px;
}